

<footer>
    © To Do List. All rights reserved.
    <a href="https://en.wiktionary.org/wiki/to-do_list#:~:text=Noun,needs%20or%20intends%20to%20accomplish.">What is a To Do List?</a>
</footer>

</body>
</html>